{% extends "base_page.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% comment %}
Fix for Chrome which doesn't correctly scroll to form validation messages
when this is set to smooth
{% endcomment %}
{% block html_class %}no-scroll-behaviour{% endblock %}

{% block title %}Log in{% endblock %}

{% block body_class %}template-login{% endblock %}

{% block content %}
    <h1>{% translate "Log in" %}</h1>

    <form method="post" action="{% url 'wagtailcore_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="button">{% translate "Log in" %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
