{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    <div class="layout">
        <h1>{{ page.title }}</h1>

        {{ page.strapline }}

        {% get_test_image as test_image %}

        <h2>Vertical cards</h2>

        <div class="grid grid--three">
            {% for card in vertical_cards %}                
                {% #Card href=card.href title=card.title description=card.description image=test_image %}
                    <div class="card__metadata">
                        {% include "components/icons/icon.html" with name="calendar" %}
                        <p>{{ card.posted_on }}</p>
                    </div>
                {% /Card %}
            {% endfor %}
        </div>

        <h2 style="margin-top: 20px;">Horizontal cards</h2>

        <div class="grid grid--two">
            {% for card in horizontal_cards %}
                {% Card href=card.href title=card.title description=card.description image=test_image variant="horizontal" %}
            {% endfor %}
        </div>

        {% include "components/share/share.html" %}
    </div>

    {% slippers_overlay %}
{% endblock %}
