{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    <div class="layout">
        <h1>{{ page.title }}</h1>

        {{ page.strapline }}

        {% #ButtonLink variant="primary" href="https://torchbox.com" %}
            Go to Torchbox
        {% /ButtonLink %}

        {% #ButtonLink variant="warning" href="https://example.com" %}
            Warning link
            
            {% include "components/icons/icon.html" with name="magnifying-glass" %}
        {% /ButtonLink %}

        {% include "components/share/share.html" %}
    </div>
{% endblock %}
