@use 'config' as *;

// Vendor
@use '../../../node_modules/tbxforms/dist/tbxforms.scss' with (
    $tbxforms-text-colour: $color--default,
    $tbxforms-error-colour: $color--red,
    $tbxforms-focus-colour: $focus-bg,
    $tbxforms-focus-text-colour: $focus-color,
    $tbxforms-border-colour: $color--border,
    $tbxforms-input-border-colour: $color--border,
    $tbxforms-font-family: $font--primary,
    $tbxforms-font-family-print: $font--primary,
    $tbxforms-font-weight-regular: $weight--normal,
    $tbxforms-font-weight-bold: $weight--bold,
);
@use '../../../node_modules/@glidejs/glide/src/assets/sass/glide.core';

// Base
@use 'base/base';
@use 'base/typography';
@use 'base/fonts';

// Our vendor overrides
@use 'tbxforms-overrides';

// Components
@use 'components/button';
@use 'components/card';
@use 'components/icon';

// Navigation
@use 'components/navigation/breadcrumbs-nav';
@use 'components/navigation/footerlinks-nav';
@use 'components/navigation/footercolumn-nav';
@use 'components/navigation/primary-nav';
@use 'components/navigation/secondary-nav';
@use 'components/navigation/sub-nav';

// Layout
@use 'layout/footer';
@use 'layout/header';
@use 'layout/layout';
@use 'layout/sidebar';

@tailwind base;
@tailwind components;
@tailwind utilities;
