{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="layout">

        <h1>{{ page.title }}</h1>
        {% if page.introduction %}
            <p>{{ page.introduction }}</p>
        {% endif %}

        <p>{{ page.start_date }} {{ page.start_time|default:"" }} {{ page.end_date|default:"" }} {{ page.end_time|default:"" }}</p>
        <p>{{ page.event_types.all|join:", " }}</p>
        <ul>
            <li>{{ page.street_address_1|default:"" }}</li>
            <li>{{ page.street_address_2|default:"" }}</li>
            <li>{{ page.city|default:"" }}</li>
            <li>{{ page.region|default:"" }}</li>
            <li>{{ page.postcode|default:"" }}</li>
            <li>{{ page.country|default:"" }}</li>
        </ul>

        {% include_block page.body %}

        {% include "components/share/share.html" %}
    </div>

    {% include "components/related_content/related_content.html" with related_pages=page.related_pages %}

{% endblock %}
