{% load table_block_tags %}

{% comment %} note: this follows the original template: https://github.com/wagtail/wagtail/blob/78f93af5c837928cef4d15cec48d9847120a088c/wagtail/contrib/table_block/templates/table_block/blocks/table.html {% endcomment %}
<div class="table-wrapper" data-table-hint>
    {# Hint to show more of the table at mobile #}
    <div class="table-wrapper__hint">
        {# Note this is not hidden from screen readers - see discussion at https://stackoverflow.com/questions/74835059/hide-irrelevant-focusable-elements-from-screen-reader #}
        <button type="button" class="" data-table-hint-button>
            See more <span class="sr-only">(Scrolls horizontally)</span>
        </button>
    </div>
    <table class="table">
        {% if table_caption %}
            <caption class="table__caption">{{ table_caption }}</caption>
        {% endif %}
        {% if table_header %}
            <thead class="table__head">
                <tr class="table__row">
                    {% for column in table_header %}
                        {% with forloop.counter0 as col_index %}
                            <th class="table__cell table__cell--heading" scope="col" {% cell_classname 0 col_index %}>
                                {% if column.strip %}
                                    {% if html_renderer %}
                                        {{ column.strip|safe|linebreaksbr }}
                                    {% else %}
                                        {{ column.strip|linebreaksbr }}
                                    {% endif %}
                                {% endif %}
                            </th>
                        {% endwith %}
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        <tbody class="table__body">
            {% for row in data %}
                {% with forloop.counter0 as row_index %}
                    <tr class="table__row">
                        {% for column in row %}
                            {% with forloop.counter0 as col_index %}
                                {% if first_col_is_header and forloop.first %}
                                    <th class="table__cell table__cell--heading" scope="row" {% cell_classname row_index col_index table_header %}>
                                        {% if column.strip %}
                                            {% if html_renderer %}
                                                {{ column.strip|safe|linebreaksbr }}
                                            {% else %}
                                                {{ column.strip|linebreaksbr }}
                                            {% endif %}
                                        {% endif %}
                                    </th>
                                {% else %}
                                    <td class="table__cell" {% cell_classname row_index col_index table_header %}>
                                        {% if column.strip %}
                                            {% if html_renderer %}
                                                {{ column.strip|safe|linebreaksbr }}
                                            {% else %}
                                                {{ column.strip|linebreaksbr }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
