{% extends "base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block content %}
    <div class="layout">

        <h1>{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}</h1>

        <form action="{% url 'search' %}" method="get" role="search">
            <input type="text" placeholder="Search…" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <input type="submit" value="Search">
        </form>

        {% get_search_promotions search_query as search_picks %}
        {% if search_picks %}
            <ul>
                {% for pick in search_picks %}
                    <li>
                        {% include "components/search_result/search_result.html" with result=pick.page.specific %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if search_results %}

            {% if pattern_library_only %}
                12 results found.
            {% else %}
                {% with count=search_results.paginator.count %}
                    {{ count }} result{{ count|pluralize }} found.
                {% endwith %}
            {% endif %}

            <ul>
                {% for result in search_results %}
                    <li>
                        {% include "components/search_result/search_result.html" with result=result.specific %}
                    </li>
                {% endfor %}
            </ul>

            {% include "components/pagination/pagination.html" with paginator_page=search_results %}

        {% elif search_query and not search_picks %}
            No results found.
        {% endif %}

    </div>
{% endblock %}
